body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
.dark-mode{
    background-color: black ;
    color: white;
    
    
}

#BoutonSoleil {
  max-width: 50px;
  max-height: 50px; 

}

