body{
    display: flex;
    flex-wrap: wrap;
}

header{
    flex-basis: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    display: flex;
}

header img{
    align-self: flex-end;
}

main{
    flex-basis: 60%;
}

footer{
    flex-basis: 100%;
}

footer ul{
    display: flex;
}

footer li{
    flex-grow: 1;
    text-align: center;
    display: flex;
}