a{
    text-decoration: none;
}

header{
    padding: 20px;
}

div{
    margin-left: 50px;
}

input{
    width: 60vw;
    height: 7vh;
    font-size: 40px;
}

main p{
    margin: 20px;
    margin-left: 50px;
}

main section p:first-of-type{
    background-image: url(../img/scroll.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 50px;
    margin-top: 50px;
    height: 344px;
    width: 562px,
}

img{
    height: 1em;
}

footer li:last-of-type img{
    height: 2em;
}

